@font-face {
	font-family: 'Stencil';
	src: url('./../fonts/Cera\ Stencil\ PRO\ Medium.otf');
	font-weight: 300;
}

@font-face {
	font-family: 'Karla-Regular';
	src: url('./../fonts/Karla-Regular.ttf');
	font-weight: 500 !important;
}

@font-face {
	font-family: 'Karla-bold';
	src: url('./../fonts/Karla-Bold.ttf');
}