.content-product {
    background-color: #ececec;
}
.row {
    >.b-left {
        border-right: 2px solid #c6c6c6;
    }
}

.cursor-collapse > i{
    cursor: pointer;
}

.card-product {
    >.card-header {
        font-family: $karla-r;
        font-size: 26px;
        line-height: 27px;
        color: #88847a;
        margin-bottom: auto !important;
        border-bottom: 2px solid #c6c6c6 !important;
        h2.title-collapse {
            font-family: $karla-r;
            font-size: 30px;
            line-height: 40px;
            color: #061841;
        }
        position: relative;
        i.fas {
            position: absolute;
            right: 15px;
            top: 32px;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
        }
    }
}

.content-item-product {
    padding: 30px;
    .title-content-item-product {
        font-family: $karla-r;
        color: #061841;
        font-size: 37px;
        line-height: 40px;
    }
}