.footer {
    background-color: #88847A;
    padding: 65px 0;
}
.footer-bottom {
    margin-top: 50px;
}
.img-footer {
    max-width: 150px;
    margin-bottom: 55px;
}
.address {
    font-weight: 500;
    line-height: 27px;
}
.menu-footer {
    font-family: 'Karla-Regular';
    font-weight: 500;
    line-height: 15.6px;
    color: white !important;
    margin-bottom: 25px;
    text-decoration: underline;
}
.item-menu-footer {
    font-family: 'Karla-Regular';
    font-size: 13px;
    line-height: 15.6px;
    color: white !important;
    display: block;
    padding-bottom: .375rem;
    text-decoration: underline;
}
.item-footer {
    font-family: 'Karla-Regular';
    font-weight: 500;
    line-height: 27px;
    color: white;
}