<footer class="footer">
    <div class="footer-top">
      <div class="container">
        <img src="./img/logo.svg" alt="logo" class="img-fluid img-footer">
        <div class="row">
          <div class="col-5">
            <div class="text-white address f-karla-r">
              Perkantoran Grand Aries Niaga
              <br>
              Jl. Taman Aries Blok E1 No. 3F
              <br>
              DKI Jakarta 11620
              <br>
              T +62 21 29319231, 29325806-07
              <br>
              F +62 21 29319230
              <br>
              E salesjkt@petrodyn.co.id
            </div>
          </div>
          <div class="col-7">
            <div class="row">
              <div class="col-4 mb-4">
                <h6 class="menu-footer">ABOUT US</h6>
              </div>
              <div class="col-4 mb-4">
                <h6 class="menu-footer">CLIENTS</h6>
                <a href="" class="item-menu-footer">
                  Engineering
                </a>
                <a href="" class="item-menu-footer">
                  Industrial
                </a>
              </div>
              <div class="col-4 mb-4">
                <h6 class="menu-footer">NEWS </h6>
              </div>
              <div class="col-4 mb-4">
                <h6 class="menu-footer">PRODUCTS</h6>
              </div>
              <div class="col-4 mb-4">
                <h6 class="menu-footer">SERVICES</h6>
                <a href="" class="item-menu-footer">
                  Engineering Services
                </a>
                <a href="" class="item-menu-footer">
                  Aftermarket
                </a>
                <a href="" class="item-menu-footer">
                  Installation and Start-Up
                </a>
              </div>
              <div class="col-4 mb-4">
                <h6 class="menu-footer">CONTACT US</h6>
              </div>
            </div>
          </div>
          <div class="col-2">
          </div>
          <div class="col-2"></div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <ul class="list-inline">
          <li class="list-inline-item">
            <span class="item-footer">&copy; 2020 PT. Petrotec Rekayasa Dinamika </span>
          </li>
          <li class="list-inline-item">
            <span class="item-footer">Privacy Policy</span>
          </li>
          <li class="list-inline-item">
            <span class="item-footer">Terms of Use</span>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
  <script src="vendor/popperjs/dist/umd/popper.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/swiper/js/swiper.min.js"></script>
  <script src="vendor/fancybox/js/jquery.fancybox.min.js"></script>
  
  <!-- Custom scripts for this template -->
  <script src="js/main.min.js"></script>

</body>

</html>