<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="petrodyn projects">
  <meta name="author" content="petrodyn">

  <title>Petrodyn</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="vendor/swiper/css/swiper.min.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/main.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-transparent bg-nav" style="background-image: url(img/bg-nav.png);">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="img/logo.svg" alt="" class="img-fluid img-logo">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about.html">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">PRODUCTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">CLIENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">SERVICE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">NEWS & EVENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">CONTACT US</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>